<div class="main-container">
    <h1 style="font-weight: 900; text-align: center; margin: 15px 0;">Tic-Tac-Toe</h1>
    <div *ngIf="this.game.gameStatus === 0" class="button-container">
        <div class="offline-mode">
            <button (click)="startGame()" mat-raised-button color="accent" class="start-button">Start new game in offline mode</button>
        </div>
        <div class="online-mode">
            <button (click)="joinGame(nameText.value)" [disabled]="isButtonDisabled" mat-raised-button color="accent" class="start-button">Start new game in online mode</button>
            <input type="text" #nameText (input)="onInput(nameText.value)"/>
        </div>
        <div id="loading"></div>
    </div>
    <p class="player-information">Start the game</p>
    <div *ngIf="this.game.gameStatus === 1" class="game-container">
        <div class="gamefield">
            <div class="row">
                <div (click)="clickSubfield($event, roomId)" position="0" class="subfield"></div>
                <div (click)="clickSubfield($event, roomId)" position="1" class="subfield"></div>
                <div (click)="clickSubfield($event, roomId)" position="2" class="subfield"></div>
            </div>
            <div class="row">
                <div (click)="clickSubfield($event, roomId)" position="3" class="subfield"></div>
                <div (click)="clickSubfield($event, roomId)" position="4" class="subfield"></div>
                <div (click)="clickSubfield($event, roomId)" position="5" class="subfield"></div>
            </div>
            <div class="row">
                <div (click)="clickSubfield($event, roomId)" position="6" class="subfield"></div>
                <div (click)="clickSubfield($event, roomId)" position="7" class="subfield"></div>
                <div (click)="clickSubfield($event, roomId)" position="8" class="subfield"></div>
            </div>
        </div>
    </div>
    
</div>
