<div class="main-container">
    <h1 style="font-weight: 900; text-align: center; margin: 15px 0;">Tic-Tac-Toe</h1>
    <div class="button-container">
        <button mat-raised-button color="accent" class="start-button">Start new game</button>
    </div>
    <div class="player-information">Player ... turn.</div>
    <div class="game-container">
        <div class="gamefield">
            <div class="row-top">
                <div class="subfield-left"></div>
                <div class="subfield-middle"></div>
                <div class="subfield-right"></div>
            </div>
            <div class="row-middle">
                <div class="subfield-left"></div>
                <div class="subfield-middle"></div>
                <div class="subfield-right"></div>
            </div>
            <div class="row-bottom">
                <div class="subfield-left"></div>
                <div class="subfield-middle"></div>
                <div class="subfield-right"></div>
            </div>
        </div>
    </div>
    
</div>
